In [1]:
from sqlalchemy import create_engine
import pandas as pd
import numpy as np

## Extract Data

My data was housed on a remote Postgresql server after downloading. This notebook goes through extracting relevant information for my analysis and cleaning it up to be used for the classification problem.

In [ ]:
cnx = create_engine('postgresql://ubuntu@3.22.54.86:5432/project_3')

### Student data

In [2]:
student_info = pd.read_sql_query('''SELECT * FROM student_info WHERE code_module = 'FFF' ''', cnx)

### Assessment data

In [3]:
assessment_info = pd.read_sql_query('''with ad as
                                        (select *, assessment_type || '_' || rank() over(partition by 
                                            code_module, code_presentation, assessment_type order by id_assessment) as test_order
                                        from assessments where code_module = 'FFF')
                                        
                                        select sa.id_student || '_' || ad.code_module || '_' || ad.code_presentation as unique_id, ad.test_order, sa.date_submitted,
                                            ad.date_days as deadline, sa.score
                                        from student_assessment sa left join ad on sa.id_assessment = ad.id_assessment
                                        where code_module='FFF' ''', cnx)

To get assessment data for each student I have to get the test_order into columns. I pivot the table to do so, but this creates a multi-index. Below I flatten that multi-index and give the new columns names for the assessment_data table

In [4]:
assessment_data = assessment_info.pivot(index='unique_id', columns='test_order')
ad_columns = assessment_data.columns.to_flat_index()
new_columns = [tup[0]+'_'+tup[1] for tup in ad_columns]
assessment_data.columns = new_columns
assessment_data.reset_index(inplace=True)

Calculating the difference between the submission and the deadline. A positive number means submitted before deadline, a negative number means submitted late

In [5]:
assessment_data['avg_submission_diff'] = ((assessment_data.deadline_TMA_1 - assessment_data.date_submitted_TMA_1) + 
                                          (assessment_data.deadline_TMA_2 - assessment_data.date_submitted_TMA_2) + 
                                          (assessment_data.deadline_TMA_3 - assessment_data.date_submitted_TMA_3))/3

In [6]:
assessment_data_subset = (assessment_data[['unique_id', 'score_TMA_1', 'score_TMA_2', 'score_TMA_3', 'avg_submission_diff']])

Now add this information to the student_info table and create the central data table

In [7]:
data_table = student_info.merge(assessment_data_subset, how = 'left', on = 'unique_id')

Having the average submission diff in this table shows that many students withdrew before the third exam or failed to hand in an exam and thus failed (NaN values in the column). I will drop these rows, since I am focusing on students who are still active at the time of the thrid exam.

In [8]:
data_table.dropna(subset=['avg_submission_diff'], inplace=True)

### Course Material Interactions

In [9]:
student_vle = pd.read_sql_query('''with st_vle as(
                                        select sv.id_student || '_' || sv.code_module || '_' || sv.code_presentation as unique_id,
                                        sv.date_day, sv.sum_click, vle.activity_type, vle.code_module, vle.code_presentation 
                                    from student_vle sv left join vle on sv.id_site = vle.id_site
                                    where sv.code_module = 'FFF')

                                    select unique_id, date_day, activity_type, sum(sum_click) as sum_clicks
                                    from st_vle
                                    where st_vle.activity_type in ('url', 'forumng', 'oucontent', 'resource', 'questionnaire', 
                                        'ouwiki', 'ouelluminate', 'dataplus', 'externalquiz', 
                                        'repeatactivity', 'quiz', 'glossary', 'oucollaborate')
                                    group by unique_id, date_day, activity_type''', cnx)

I'll be interested in student interactions specifically for each TMA test, so I am adding the assessment dates to the table

In [10]:
assessment_dates = assessment_data[['unique_id', 'date_submitted_TMA_1', 'date_submitted_TMA_2', 'date_submitted_TMA_3']]

In [11]:
student_vle = student_vle.merge(assessment_dates, how = 'left', on = 'unique_id')

Now I can add the total interactions for the different time periods: before class, before the first exam, second exam etc. I see the before class interactions as a measure of someone preparing well

In [12]:
student_vle['int_before_class'] = np.where(student_vle['date_day'] < 0, student_vle.sum_clicks, 0)
student_vle['int_before_TMA_1'] = (np.where((student_vle['date_day'] >= 0) & 
                                    (student_vle['date_day'] <= student_vle.date_submitted_TMA_1), 
                                    student_vle.sum_clicks, 0))
student_vle['int_before_TMA_2'] = (np.where((student_vle['date_day'] > student_vle.date_submitted_TMA_1) & 
                                    (student_vle['date_day'] <= student_vle.date_submitted_TMA_2), 
                                    student_vle.sum_clicks, 0))
student_vle['int_before_TMA_3'] = (np.where((student_vle['date_day'] > student_vle.date_submitted_TMA_2) & 
                                    (student_vle['date_day'] <= student_vle.date_submitted_TMA_3), 
                                    student_vle.sum_clicks, 0))

Now I can add up the for each time period to add to the central data table

In [13]:
student_interactions = (student_vle.groupby('unique_id', as_index=False)
                        ['int_before_class', 'int_before_TMA_1', 'int_before_TMA_2', 'int_before_TMA_3'].sum())

/Users/stephan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [14]:
data_table = data_table.merge(student_interactions, how = 'left', on = 'unique_id')

## Data encoding

This is the information we need, but we still need to encode some of the categorical data. First I will transform the imd_band, a measure of poverty, to numerical. This measure is ordinal so I don't need to dummify it. The category 10-20% was mistakenly marked as a date. For the students that do not have a band I will assign the mean for that region

In [15]:
imd_map = {'0-10%': 0, '20-Oct': 1, '20-30%': 2, '30-40%': 3, '40-50%': 4, '50-60%': 5, 
           '60-70%': 6, '70-80%': 7, '80-90%': 8, '90-100%': 9, None : np.nan}

In [16]:
data_table.imd_band.replace(imd_map, inplace=True)
data_table['imd_band'] = data_table['imd_band'].fillna(data_table.groupby('region')['imd_band'].transform('mean'))

Same thing for the level of education, which is also ordinal

In [17]:
education_map = {'No Formal quals': 0, 'Lower Than A Level': 1, 'A Level or Equivalent': 2, 'HE Qualification': 3
                , 'Post Graduate Qualification': 4}
data_table.highest_education.replace(education_map, inplace=True)

The final_result column is mapped to a binary outcome next. The minority class is Fail, so that will be coded as 1, the positive outcome for our classification models

In [18]:
result_map = {'Distinction': 0, 'Pass': 0, 'Withdrawn': 1, 'Fail': 1}
data_table.final_result.replace(result_map, inplace=True)

Next is the gender column, coding Male as 1

In [19]:
data_table['gender'] = (data_table['gender'] == 'M').astype(int)

Same for the disability column, marking disability as 1

In [20]:
data_table['disability'] = (data_table['disability'] == 'Y').astype(int)

Lastly I am going to dummify the categorical data in age_band

In [21]:
data_table = pd.get_dummies(data_table, columns=['age_band'], drop_first=True)

## Write out clean dataset

Selecting the columns to be used as features and ordering them to make life easier when modelling

In [23]:
data_subset = data_table[['code_presentation', 'gender', 'highest_education', 'imd_band', 'num_prev_attempts', 'studied_credits', 'disability',
                         'age_band_35-55', 'age_band_55<=', 'score_TMA_1', 'score_TMA_2', 'score_TMA_3', 'avg_submission_diff'
                         , 'int_before_class', 'int_before_TMA_1', 'int_before_TMA_2', 'int_before_TMA_3', 'final_result']].dropna()

In [24]:
data_subset.to_pickle('data_clean.pickle')